/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.sectionbutton {
  letter-spacing: -0.05em;
  text-transform: uppercase;
  background-color: #f7f7f7;
  border: 2px solid #e8e8e8;
  border-radius: 28px;
  height: 40px;
  margin-bottom: 16px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 1.5;
  display: inline-flex;
}
@media (max-width: 992px) {
  .sectionbutton {
    margin-top: 35px;
  }
}

.sectiontxt {
  color: black;
  letter-spacing: 0.3px;
  font-size: 48px;
  font-weight: 600;
  line-height: 112%;
  margin-bottom: 40px;
  max-width: 570px;
}
@media screen and (max-width: 991px) {
  .sectiontxt {
    font-size: 40px;
  }
}
@media screen and (max-width: 767px) {
  .sectiontxt {
    font-size: 30px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

footer .fimage .home img, footer .footerlogo .flogoimg img, #services .servicebox .servicelogo img, #agentdetail .agentbox .agentphoto img, #proces .procesright .procesimg img, #blogdetail .blogtextphoto img, #blogdetail .blogphoto img, #blogdetail .writer .hisphoto img, #myblogs .blogimg img, #slider .testimonials-thumb-wrap img, #why .whyimg img, #mission .missionimg img, #agentdetail .blogtextphoto img, #agentdetail .blogphoto img, #agentdetail .writer .hisphoto img, .align .introimage img, header .navbar .nav-left .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "Inter", sans-serif;
}

.p-custom {
  padding: 20px 121.2px;
}
@media (max-width: 992px) {
  .p-custom {
    padding: 20px;
  }
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .burger-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
header .navbar .burger-menu i {
  color: #000;
}
header .navbar .nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
header .navbar .nav-center #nav-menu {
  display: flex;
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  list-style: none;
  padding: 0;
  margin: 0;
}
header .navbar .nav-center #nav-menu .menu-li {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar .nav-center #nav-menu .menu-li .links {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 7px 0;
}
header .navbar .cartandburger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
header .navbar .cartandburger #cart-item {
  display: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  header .navbar .cartandburger #cart-item {
    display: flex !important;
  }
}
header .navbar .cartandburger #cart-item .linkspart {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 7px 0;
}
header .navbar .nav-end {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 992px) {
  header .navbar .burger-menu {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    background-color: #0c0407;
    cursor: pointer;
    border-radius: 4px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    display: flex;
    overflow: hidden;
    display: flex;
  }
  header .navbar .burger-menu i {
    color: #fff;
  }
  header .navbar .nav-center {
    width: 100%;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    align-items: flex-start !important;
    padding-bottom: 0;
  }
  header .navbar .nav-center .menu-li {
    justify-content: start !important;
  }
  header .navbar .nav-center.open {
    display: flex;
  }
  header .navbar #nav-menu {
    width: 100%;
    flex-direction: column;
    margin-top: 20px !important;
    grid-column-gap: 20px !important;
    grid-row-gap: 20px !important;
    padding-bottom: 10px !important;
    background-color: white;
    z-index: 15;
  }
  header .navbar #nav-menu #submenu {
    width: 100% !important;
  }
  header .navbar #nav-menu li {
    width: 100% !important;
    justify-content: start;
  }
  header .navbar #nav-menu li .links {
    font-size: 20px !important;
    text-align: center;
  }
  header .navbar .nav-end {
    display: none;
    position: absolute;
    top: 340px;
    left: 0;
    right: 0;
    padding: 20px;
    gap: 10px;
    padding-top: 30px;
    background-color: white;
    z-index: 15;
  }
  header .navbar .nav-end.open {
    display: flex;
  }
}
header #submenu {
  position: relative;
}
header #submenu i {
  transition: all 0.3s ease-in-out;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
header #submenu:hover i {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
header #submenu:hover #under {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0px, 0px, 0px);
}
header #submenu #under {
  background-color: #fff;
  border-radius: 6px;
  width: auto;
  min-width: 100px;
  overflow: hidden;
  position: absolute;
  top: 30px;
  left: 0;
  border: 1px solid #f7f7f7;
  padding: 8px;
  box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.0392156863);
  text-align: left;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0px, 20px, 0px);
  transition: all 0.3s ease-in-out;
}
header #submenu #under .sub-li {
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}
header #submenu #under .sub-li:hover {
  background-color: #f7f7f7;
}
header #submenu #under li {
  display: flex;
  align-items: center;
}
header #submenu #under li a {
  color: #0c0407;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 14px;
  transition: all 0.3s linear;
  white-space: nowrap;
  text-decoration: none;
}
@media (max-width: 992px) {
  header #submenu {
    justify-content: space-between !important;
  }
  header #submenu #under {
    width: 100%;
    z-index: 999;
  }
}

.button {
  background-color: #000;
  color: #fff;
  border-radius: 12px;
  padding: 16px 28px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button p {
  position: relative;
  z-index: 1;
}
.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.2s ease-in-out;
  z-index: 0;
}
.button:hover::before {
  transform: scaleX(1);
}
@media (max-width: 992px) {
  .button {
    margin-bottom: 20px;
  }
}

.align {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.align .introbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #0c0407;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  background-color: #f7f7f7;
  border: 2px solid #e8e8e8;
  border-radius: 28px;
  height: 40px;
  padding: 12px 18px 12px 16px;
  font-weight: 500;
  display: inline-flex;
  font-size: 16px;
  line-height: 1;
}
.align .introtitle {
  letter-spacing: -0.05em;
  font-size: clamp(2rem, 14vw, 200px);
  margin-bottom: 60px;
  line-height: 1.1;
  font-weight: 600;
  will-change: transform;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
#agentdetail p {
  color: #333;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 853px;
  margin-bottom: 20px;
}
#agentdetail h1 {
  font-size: 60px;
  font-weight: 600;
  color: #0c0407;
  letter-spacing: -0.5px;
  line-height: 96%;
  margin-bottom: 16px;
  max-width: 940px;
}
#agentdetail .writer {
  margin-bottom: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}
#agentdetail .writer .hisphoto {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  overflow: hidden;
}
#agentdetail .writer .hisdata {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
#agentdetail .writer .hisdata .authorname {
  letter-spacing: -0.1px;
  margin-bottom: 6px !important;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
}
#agentdetail .blogphoto {
  border-radius: 24px;
  margin-bottom: 60px;
  overflow: hidden;
}
#agentdetail .blogphoto img {
  transform: scale(1.03) !important;
}
#agentdetail .blogdetailheader {
  font-size: 36px;
}
#agentdetail .blogtextphoto {
  overflow: hidden;
  border-radius: 28px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
#agentdetail .blogtextphoto img {
  transform: scale(1.03) !important;
}
#agentdetail blockquote {
  background-color: black;
  color: white;
  letter-spacing: -0.01em;
  border-left-style: none;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}

@media screen and (max-width: 992px) {
  #responsiveblog {
    margin-bottom: 30px;
  }
}

#mission .missionimg {
  width: 100%;
  height: 500px;
}
#mission .sectionul {
  letter-spacing: -0.1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 112%;
  list-style: inherit;
}
#mission .sectionul li {
  list-style-position: inside;
  margin-bottom: 30px;
  color: #333;
}

.sectionul {
  letter-spacing: -0.1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 112%;
  list-style: inherit;
}
.sectionul li {
  list-style-position: inside;
  margin-bottom: 30px;
  color: #333;
}

#mtext {
  width: 100%;
  max-width: 461px;
  margin-top: 125px;
  margin-bottom: 20px;
  text-align: left;
  letter-spacing: -0.1px;
  font-size: 14px;
  line-height: 150%;
}

#values .col-lg-5 {
  position: sticky;
  top: 20px;
  align-self: flex-start;
}
@media (max-width: 992px) {
  #values .col-lg-5 {
    position: relative;
  }
}
#values .col-lg-6 .row {
  min-height: 429px;
}
#values .box {
  background-color: #f7f7f7;
  border: 1px solid #e8e8e8;
  border-radius: 20px;
  padding: 32px 24px 24px;
}
#values .box .values-box-icon-wrap {
  margin-bottom: 60px;
}
#values .box .values-box-title-wrap {
  margin-bottom: 12px;
  letter-spacing: 0;
  font-size: 24px;
}
#values .box .values-box-title-wrap h2 {
  color: #0c0407;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 112%;
}
#values .box .values-box-text {
  letter-spacing: -0.1px;
  font-size: 14px;
  line-height: 150%;
}
@media (max-width: 992px) {
  #values .button {
    margin-bottom: 35px;
  }
}

#numbers .col-lg-5 {
  position: sticky;
  top: 20px;
  align-self: flex-start;
}
@media (max-width: 992px) {
  #numbers .col-lg-5 {
    position: relative;
  }
}
#numbers .col-lg-6 .row {
  min-height: 300px;
}
#numbers .box {
  background-color: #f7f7f7;
  border: 1px solid #e8e8e8;
  border-radius: 20px;
  padding: 32px 24px 24px;
}
#numbers .box .counter-num-wrap {
  margin-bottom: 8px;
}
#numbers .box .counter-num-wrap .counter-num {
  letter-spacing: -0.3px;
  font-size: 36px;
  line-height: 120%;
  font-weight: 600;
  color: #0c0407;
}
#numbers .box .counter-title-wrap {
  margin-bottom: 40px;
}
#numbers .box .counter-title-wrap .counter-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}
#numbers .box .counter-text-wrap {
  width: 100%;
  max-width: 225px;
}
#numbers .box .counter-text-wrap .counter-text {
  letter-spacing: -0.1px;
  font-size: 14px;
  line-height: 150%;
}
@media (max-width: 992px) {
  #numbers .button {
    margin-bottom: 35px;
  }
}

#accordion .col-lg-5 {
  position: sticky;
  top: 20px;
  align-self: flex-start;
}
@media (max-width: 992px) {
  #accordion .col-lg-5 {
    position: relative;
  }
  #accordion .col-lg-5 .sectiontxt {
    margin-bottom: 30px;
  }
}
#accordion .col-lg-7 .row {
  min-height: 630px;
}
#accordion .faq {
  background-color: #f7f7f7;
  border: 1px solid #e8e8e8;
  border-radius: 20px;
  padding: 28px;
}
#accordion .faq .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#accordion .faq .flex h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 112%;
  color: #000;
}
#accordion .faq .faq-text-wrap {
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
}
#accordion .faq .faq-text-wrap .faq-text {
  color: #4c4c4c;
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}

#slider .slidecontainer {
  border: 0.74px solid #e8e8e8;
  border-radius: 28px;
  justify-content: space-between;
  align-items: center;
  padding: 60px 60px 40px;
  display: flex;
  box-shadow: 0 32px 96px -28px rgba(0, 0, 0, 0.1215686275);
  margin-bottom: 88px;
}
#slider .values-box-title-wrap {
  margin-bottom: 12px;
  letter-spacing: 0;
  font-size: 24px;
}
#slider .values-box-title-wrap h2 {
  text-align: left;
  color: #0c0407;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 112%;
}
#slider .values-box-text {
  text-align: left;
  letter-spacing: -0.1px;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 33px;
}
#slider .testimonials-thumb-wrap {
  border-radius: 24px;
  flex: none;
  width: 100%;
  max-width: 172px;
  height: auto;
  overflow: hidden;
}
@media (max-width: 900px) {
  #slider .container-fluid {
    padding: 20px !important;
  }
}
#slider .swiper {
  width: 100%;
  height: 100%;
}
#slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#slider .swiper-slide {
  width: 60%;
}
#slider .swiper-button-next, #slider .swiper-button-prev {
  position: absolute;
  top: 430px;
  border-radius: 50%;
  background-color: black;
  width: 48px;
  height: 48px;
  z-index: 10;
  border: 1px solid #ccc;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  transition: all 0.3s linear;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #ccc;
}
#slider .swiper-button-next:hover, #slider .swiper-button-prev:hover {
  background-color: #0c0407;
  color: white;
}
#slider .swiper-button-next:after, #slider .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  display: none;
}
#slider .swiper-button-next {
  right: 675px;
}
#slider .swiper-button-prev {
  left: 675px;
}
#slider .swiper-slide-active {
  transform: scale(1) !important;
}
#slider .swiper-slide-prev,
#slider .swiper-slide-next {
  opacity: 0.9;
  transform: scale(0.9) !important;
}
#slider .swiper-button-next, #slider .swiper-button-prev {
  position: absolute;
  top: auto;
  bottom: -5px;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #ccc;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 0.3s ease;
}
#slider .swiper-button-next:hover, #slider .swiper-button-prev:hover {
  background-color: #0c0407;
  color: white;
}
#slider .swiper-button-next {
  right: 46%;
}
#slider .swiper-button-prev {
  left: 46%;
}
@media (max-width: 1220px) {
  #slider .swiper-button-next {
    width: 48px;
    height: 48px;
    right: 45%;
  }
  #slider .swiper-button-prev {
    width: 48px;
    height: 48px;
    left: 45%;
  }
}
@media (max-width: 990px) {
  #slider .swiper-button-next {
    width: 48px;
    height: 48px;
    right: 43%;
  }
  #slider .swiper-button-prev {
    width: 48px;
    height: 48px;
    left: 43%;
  }
}
@media (max-width: 900px) {
  #slider .swiper-button-next {
    width: 48px;
    height: 48px;
    right: 40%;
  }
  #slider .swiper-button-prev {
    width: 48px;
    height: 48px;
    left: 40%;
  }
}
@media (max-width: 576px) {
  #slider .swiper-button-next {
    width: 48px;
    height: 48px;
    right: 38%;
  }
  #slider .swiper-button-prev {
    width: 48px;
    height: 48px;
    left: 38%;
  }
}
@media (max-width: 486px) {
  #slider .swiper-button-next {
    width: 48px;
    height: 48px;
    right: 34%;
  }
  #slider .swiper-button-prev {
    width: 48px;
    height: 48px;
    left: 34%;
  }
}
@media (max-width: 330px) {
  #slider .swiper-button-next {
    width: 48px;
    height: 48px;
    right: 30%;
  }
  #slider .swiper-button-prev {
    width: 48px;
    height: 48px;
    left: 30%;
  }
}

#myblogs .sectiontxt {
  margin-bottom: 40px;
}
#myblogs .buttonandtext {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 526px) {
  #myblogs .buttonandtext {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
  }
}
#myblogs .blogimg {
  border-radius: 20px;
  margin-bottom: 12px;
  text-decoration: none;
  overflow: hidden;
}
#myblogs .blogimg img {
  transition: transform 0.4s ease-in-out;
  transform: scale(1.03) !important;
}
#myblogs .blogimg:hover img {
  transform: scale(1.1) !important;
}
#myblogs .values-box-title-wrap {
  margin-bottom: 12px;
  letter-spacing: 0;
  font-size: 24px;
}
#myblogs .values-box-title-wrap h2 {
  color: #0c0407;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 112%;
}
#myblogs .values-box-text {
  letter-spacing: -0.1px;
  font-size: 14px;
  line-height: 150%;
}
#myblogs .btn {
  color: black;
  letter-spacing: -0.1px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 112%;
}

.blogdata {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 32px;
  margin-bottom: 16px;
}
.blogdata .date {
  letter-spacing: -0.1px;
  font-size: 14px;
  font-weight: 550;
  line-height: 150%;
  color: rgba(51, 51, 51, 0.862745098);
}
.blogdata .date i {
  margin-right: 4px;
}

#blogdetail p {
  color: #333;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 853px;
  margin-bottom: 20px;
}
#blogdetail h1 {
  font-size: 60px;
  font-weight: 600;
  color: #0c0407;
  letter-spacing: -0.5px;
  line-height: 96%;
  margin-bottom: 16px;
  max-width: 940px;
}
#blogdetail .writer {
  margin-bottom: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}
#blogdetail .writer .hisphoto {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  overflow: hidden;
}
#blogdetail .writer .hisdata {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
#blogdetail .writer .hisdata .authorname {
  letter-spacing: -0.1px;
  margin-bottom: 6px !important;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
}
#blogdetail .blogphoto {
  border-radius: 24px;
  margin-bottom: 60px;
  overflow: hidden;
}
#blogdetail .blogphoto img {
  transform: scale(1.03) !important;
}
#blogdetail .blogdetailheader {
  font-size: 36px;
}
#blogdetail .blogtextphoto {
  overflow: hidden;
  border-radius: 28px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
#blogdetail .blogtextphoto img {
  transform: scale(1.03) !important;
}
#blogdetail blockquote {
  background-color: black;
  color: white;
  letter-spacing: -0.01em;
  border-left-style: none;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}

@media screen and (max-width: 992px) {
  #responsiveblog {
    margin-bottom: 30px;
  }
}

#proces .flexstartleft {
  grid-column-gap: 30px !important;
  grid-row-gap: 30px !important;
  justify-content: space-between !important;
  align-items: flex-start !important;
  height: 500px !important;
  padding-top: 40px !important;
  display: flex !important;
}
#proces .procesleft {
  min-height: 300px;
  padding-left: 20px !important;
}
@media (max-width: 992px) {
  #proces .procesleft {
    padding: 0 20px !important;
  }
}
#proces .procesright {
  position: sticky;
  top: 20px;
  padding-right: 20px !important;
  align-self: flex-start;
}
@media (max-width: 992px) {
  #proces .procesright {
    position: relative;
    padding: 0 20px !important;
  }
}
#proces .procesright .procesimg {
  overflow: hidden;
}
#proces .procesright .procesimg img {
  transition: transform ease-in-out 0.3s;
}

#agent {
  /* Add smooth transition for wrapper */
}
#agent .swiper {
  width: 100%;
  height: 100%;
}
#agent .swiper-slide {
  text-align: left;
}
#agent .swiper-slide:hover img {
  transform: scale(1.1) !important;
}
#agent .swiper-slide .agentslideimg {
  border-radius: 20px;
  margin-bottom: 12px;
  overflow: hidden;
}
#agent .swiper-slide .agentslidename {
  color: black;
  line-height: 112%;
  font-weight: 600;
  font-size: 24px;
}
#agent .swiper-slide .agentslideposition {
  line-height: 150%;
  font-size: 14px;
  letter-spacing: -0.1px;
}
#agent .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all ease-in-out 0.5s;
}
#agent .swiper-slide {
  width: 23%;
}
#agent .swiper-wrapper {
  display: flex;
  transition: transform 0.2s linear; /* Smooth and continuous transition */
}

#agentdetail .agentbox {
  line-height: 1;
  margin-bottom: 60px;
  background-color: #f7f7f7;
  border: 1px solid #e8e8e8;
  border-radius: 32px;
  padding: 40px;
}
#agentdetail .agentbox h4 {
  font-size: 36px;
  line-height: 120%;
  font-weight: 600;
  margin-bottom: 32px;
}
@media screen and (max-width: 991px) {
  #agentdetail .agentbox h4 {
    font-size: 32px;
  }
}
@media screen and (max-width: 768px) {
  #agentdetail .agentbox h4 {
    margin-top: 30px;
  }
}
#agentdetail .agentbox .flexboxstart {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 170px 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 12px;
  display: grid;
}
@media screen and (max-width: 578px) {
  #agentdetail .agentbox .flexboxstart {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
  }
}
#agentdetail .agentbox .flexboxstart h6 {
  color: #333;
  font-size: 18px;
  line-height: 150%;
}
@media screen and (max-width: 991px) {
  #agentdetail .agentbox .flexboxstart h6 {
    font-size: 16px;
  }
}
#agentdetail .agentbox .flexboxstart h5 {
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}
@media screen and (max-width: 991px) {
  #agentdetail .agentbox .flexboxstart h5 {
    font-size: 16px;
  }
}
#agentdetail .agentbox .agentphoto {
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
}
#agentdetail .agentbox .iconflex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 31px;
}
#agentdetail .agentbox .iconflex i {
  color: #999;
  transition: all 0.3s ease-in-out;
  font-size: 28px;
}
#agentdetail .agentbox .iconflex i:hover {
  transform: scale(1.2);
  color: black;
}
@media screen and (max-width: 992px) {
  #agentdetail .agentbox .iconflex {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 576px) {
  #agentdetail .agentbox .iconflex {
    gap: 20px;
  }
  #agentdetail .agentbox .iconflex i {
    font-size: 20px;
  }
}
@media screen and (max-width: 991px) {
  #agentdetail .agentbox {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    border-radius: 20px;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  }
}
@media screen and (max-width: 1330px) {
  #agentdetail {
    padding: 0 20px;
  }
}

#foreachagent .col-lg-4 {
  text-align: left;
}
#foreachagent .col-lg-4:hover img {
  transform: scale(1.1) !important;
}
#foreachagent .col-lg-4 .agentsimg {
  border-radius: 20px;
  margin-bottom: 12px;
  overflow: hidden;
}
#foreachagent .col-lg-4 .agentsimg img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all ease-in-out 0.5s !important;
}
#foreachagent .col-lg-4 .agentsname {
  color: black;
  line-height: 112%;
  font-weight: 600;
  font-size: 24px;
}
#foreachagent .col-lg-4 .agentsposition {
  line-height: 150%;
  font-size: 14px;
  letter-spacing: -0.1px;
}

#services .servicebox {
  background-color: #f7f7f7;
  border: 1px solid #e8e8e8;
  border-radius: 20px;
  padding: 32px 24px 24px;
  min-height: 373px;
}
#services .servicebox .servicelogo {
  margin-bottom: 70px;
  width: 52px;
  height: 52px;
  overflow: hidden;
}
#services .servicebox h1 {
  letter-spacing: 0;
  font-size: 32px;
  line-height: 120%;
  font-weight: 600;
  color: black;
  margin-bottom: 12px;
}
#services .servicebox p {
  letter-spacing: -0.1px;
  font-size: 14px;
  line-height: 150%;
  color: #333;
  font-weight: 400;
}

.p-new {
  padding: 20px 121.2px;
}
@media (max-width: 1332px) {
  .p-new {
    padding: 20px;
  }
}

footer .footerlogo {
  margin-bottom: 20px;
}
footer .footerlogo .flogoimg {
  max-width: 99px;
  max-height: 39px;
  overflow: hidden;
}
footer .ftext {
  letter-spacing: -0.1px;
  font-size: 14px;
  line-height: 150%;
  color: white;
  max-width: 305px;
  margin-bottom: 32px;
}
footer #fbutton {
  color: white;
  letter-spacing: -0.1px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(224, 224, 224, 0.4);
  border-radius: 12px;
  padding: 16px 28px;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  display: inline-block;
  margin-bottom: 40px;
  text-align: center;
}
footer .flist {
  margin-bottom: 40px;
}
footer .flist .f-li {
  margin-bottom: 24px;
}
footer .flist .f-li a {
  color: white;
  letter-spacing: -0.01em;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
}
footer .flist .fhead {
  color: white;
  letter-spacing: 0;
  font-size: 24px !important;
  font-weight: 600;
  line-height: 112%;
}
footer .fimage .home img {
  -o-object-fit: contain;
     object-fit: contain;
}
footer #fstart {
  padding-top: 121.2px;
  padding-bottom: 150px;
}
footer .f-input {
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 0;
  padding: 0 0 12px;
  vertical-align: middle;
  height: 38px;
  width: 100%;
  font-size: 14px;
  line-height: 1.42857;
  margin-bottom: 40px;
  outline: none;
}

.title {
  color: #0c0407;
  letter-spacing: -0.03em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 600;
  line-height: 112%;
  max-width: 446px;
}

.contactbutton {
  padding: 8px 20px;
  margin-bottom: 16px;
  color: white;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  background-color: rgba(247, 247, 247, 0.1019607843);
  border: 2px solid rgba(255, 255, 255, 0.1215686275);
  border-radius: 28px;
  margin-bottom: 16px;
  padding: 8px 20px;
  font-size: 14px;
  line-height: 1.5;
  display: inline-flex;
}/*# sourceMappingURL=style.css.map */