.align {
    text-align: center;
@include flexbox(center,center,column);
    
    .introbutton {
        @include flexbox(center, center, row, 10px);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        color: $primary;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        background-color: #f7f7f7;
        border: 2px solid #e8e8e8;
        border-radius: 28px;

        height: 40px;
        padding: 12px 18px 12px 16px;
        font-weight: 500;
        display: inline-flex;
        font-size: 16px;
        line-height: 1;
        @media screen and (max-width: 479px) {
            margin-bottom: 10px;
            padding: 8px 16px;
            font-size: 12px;
        }
    }

    .introtitle {
        letter-spacing: -0.05em;
        font-size: clamp(2rem, 14vw, 200px);
        margin-bottom: 60px;
        line-height: 1.1;
        font-weight: 600;
        will-change: transform;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    }

    .introimage {
    

        img {
            @extend %img;
        }
    }
}
#agentdetail{
    p{
        color:#333;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
max-width: 853px;
margin-bottom: 20px;
    }
    h1{
        font-size: 60px;
        font-weight: 600;
        color: $primary;
        letter-spacing: -.5px;
    line-height: 96%;
    margin-bottom: 16px;
    max-width: 940px;
    }
    .writer{
        margin-bottom: 32px;
        @include flexbox(flex-start,center,row,16px);
        .hisphoto{
            width: 58px;
            height: 58px;
            border-radius: 50%;
            overflow: hidden;
img{
    @extend %img;
}
        }
        .hisdata{
            @include flexbox(center,start,column);
            .authorname{
                letter-spacing: -.1px;
    margin-bottom: 6px !important;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
            }

        }
    }
    .blogphoto{
        border-radius: 24px;
    margin-bottom: 60px;
    overflow: hidden;
    img{
        @extend %img;
        transform: scale(1.03) !important;

    }
    }
    .blogdetailheader{
        font-size: 36px;
    }
    .blogtextphoto{
        overflow: hidden;
        border-radius: 28px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    img{
        @extend %img;
        transform: scale(1.03) !important;

    }
    }
    blockquote {
        background-color:black;
        color:white;
        letter-spacing: -.01em;
        border-left-style: none;
        border-radius: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 40px;
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
    }
}
#responsiveblog{
    @media screen and (max-width:992px) {
        margin-bottom: 30px;
    }
}